swagger: '2.0'
info:
  title: Equations API
  description: The Equation Database API
  version: '0.0.1'
host: api.equations.wiki
schemes:
- https
basePath: /v0
produces:
- application/json
paths:
  /context/{label}:
    get:
      description: List contexts
      parameters:
      - name: label
        in: path
        type: string
        required: true
        description: Target context label (defaults to the root context)
      - name: depth
        in: query
        type: integer
        default: 1
        description: Number of included context levels
      responses:
        200:
          description: Target context data
          schema:
            $ref: '#/definitions/Context'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
  /context:
    get:
      description: List contexts under root
      parameters:
      - name: depth
        in: query
        type: integer
        default: 1
        description: Number of included context levels
      responses:
        200:
          description: Root context data
          schema:
            $ref: '#/definitions/Context'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
    post:
      description: Create new context
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/NewContext'
      responses:
        200:
          description: The newly created context
          schema:
            type: object
            items:
              $ref: '#/definitions/Context'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
  /variable/{label}:
    get:
      description: List variables
      parameters:
      - name: label
        in: path
        type: string
        required: true
        description: Target variable label
      responses:
        200:
          description: An array of variables
          schema:
            $ref: '#/definitions/Variable'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
  /variable:
    get:
      description: Search variables
      parameters:
      - name: q
        in: query
        type: string
        required: true
        description: search expression
      responses:
        200:
          description: An array of variables
          schema:
            type: array
            items:
              $ref: '#/definitions/Variable'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
    post:
      description: Create new variable
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Variable'
      responses:
        200:
          description: The newly created variable
          schema:
            type: object
            items:
              $ref: '#/definitions/Variable'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
  /derivation:
    get:
      description: List derivations
      parameters: []
      responses:
        200:
          description: An array of derivations
          schema:
            type: array
            items:
              $ref: '#/definitions/Derivation'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
    post:
      description: Create new derivation
      consumes:
      - application/json
      parameters:
      - name: body
        in: body
        required: true
        schema:
          $ref: '#/definitions/Derivation'
      responses:
        200:
          description: The newly created and evaluated derivation
          schema:
            type: object
            items:
              $ref: '#/definitions/Derivation'
        400:
          description: Derivation could not be evaluated.
          schema:
            $ref: '#/definitions/Status'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Status'
definitions:
  NewContext:
    type: object
    required:
    - label
    properties:
      label:
        type: string
        description: Context name
      parent:
        type: string
        description: Context parent
  Context:
    type: object
    required:
    - label
    properties:
      label:
        type: string
        description: Context name
      children:
        type: array
        items:
          $ref: '#/definitions/Context'
      variables:
        type: array
        items:
          $ref: '#/definitions/Variable'
  Variable:
    type: object
    required:
    - label
    - latex
    - context
    - parent
    - expr
    - variables
    properties:
      label:
        type: string
        description: Unique variable name
      latex:
        type: string
        description: LaTeX notation for this variable
      context:
        type: string
        description: Variable context
      parent:
        type: string
        description: Parent variable
      expr:
        type: string
        description: SymPy expression
      variables:
        type: object
        description: Dependant variables
        additionalProperties:
          type: string
  Derivation:
    type: object
    required:
    - base
    - subs
    - lhs
    - rhs
    properties:
      base:
        $ref: '#/definitions/ExprRef'
      subs:
        type: array
        description: Substitutions
        items:
          $ref: '#/definitions/ExprRef'
      lhs:
        type: string
        description: Left hand side equation
      rhs:
        type: string
        description: Right hand side equation
  ExprRef:
    type: object
    required:
    - type
    - id
    properties:
      type:
        type: string
        enum:
        - variable
        - derivation
        description: Request status identifier
      id:
        type: integer
        description: Reference ID
  Status:
    type: object
    properties:
      status:
        type: string
        description: Request status identifier
      message:
        type: string
        description: Status message
